@import '../styles/reset';
@import '../styles/font';

@mixin text_property {
    font-family: Montserrat;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
}

@mixin text_header {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #444444;
    text-align: center;
}

@mixin block_img {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

header {
    width: 100%;
    height: 700px;
    background-image: url(../pictures/img1.png);
    background-size: cover;

    h2 {
        @include text_property;
        font-family: Montserrat-Bold;
        text-align: center;
        font-size: 52px;
        line-height: 63px;

    }

}

.some_padding {
    padding-top: 95px;
}

.center {
    font: {
        family: Roboto;
        size: 24px;

    }

    text-align: center;
    margin: 28px 0px 33px;
    color: white;
}

.first_lane {
    display: flex;
    justify-content: space-around;
    padding: 39px 0px;
    @include text_property;

    &_singup {
        border: 2px solid white;
        border-radius: 40px;
    }

    nav {
        display: flex;
    }

    p {
        font-size: 20px;
        text-transform: uppercase;
        font-family: Montserrat-Bold;
        margin-top: 9px;
        margin-left: -33px;
    }

    a {
        @include text_property;
        display: block;
        text-align: center;
        line-height: 35px;
        width: 90px;
        height: 36px;
    }

}

.find {
    @include text_property;
    font-family: Montserrat-Bold;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    width: 225px;
    height: 40px;
    background-color: #FF4E50;
    border-radius: 40px;
    margin: 0 auto;
}

section {
    h3 {
        @include text_header;
        font-family: Montserrat-Bold;
        margin: 89px 0px 35px;
    }
}

.fotoblock {
    width: 940px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    &__item_left {
        @include block_img;

        background-image: url(../pictures/Step1.png);



        &_textfirst {
            @include text_property;
            width: 70px;
            height: 20px;
            border-radius: 40px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 10px;
            line-height: 20px;
            background: #FF4E50;
            text-align: center;
            margin-left: 18px;
        }

        &_textsecond {
            @include text_property;
            font-family: Montserrat-Bold;
            font-size: 26px;
            line-height: 26px;
            margin: 18px 25px 0px;

        }

        &_textthird {
            font-family: Roboto;
            font-size: 14px;
            line-height: 14px;
            color: #E3E3E3;
            margin: 25px 25px 21px;
        }
    }

    &__item_middle {
        @include block_img;
        background-image: url(../pictures/Step2.png);
    }

    &__item_right {
        @include block_img;
        background-image: url(../pictures/Step3.png);
    }

}

.partners {
    display: flex;
    justify-content: center;

    &__bradley {
        width: 221px;
        height: 205px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 19px;

        &_name {
            font-family: Montserrat-Bold;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            margin: 17px 0px 12px;
        }

        &_info {
            font-family: Roboto-bigger;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #666666;

        }


    }


}

.order_1 {
    order: 1;
}

.order_2 {
    order: 2;
}

.order_3 {
    order: 3;
}

.order_4 {
    order: 4;
}

.other_partners {
    display: block;
    width: 180px;
    height: 40px;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    @include text_property;
    font-family: Montserrat-Bold;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #FF4E50;
    font-size: 14px;
    margin: 26px auto 95px;
}

.ideas {
    width: 940px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__start {
        width: 300px;
        height: 310px;
    }

    &__bigger {
        width: 620px;
        height: 310px;
    }

    &__picture_sport {
        background-image: url(../pictures/Sport1.png);

    }

    &__picture_wellness {
        background-image: url(../pictures/Healath2.png);
    }

    &__picture_extreme {
        background-image: url(../pictures/Extreme3.png);
    }

    &__picture_games {
        background-image: url(../pictures/Games4.png);
    }

    &__picture_culture {
        background-image: url(../pictures/Culture5.png);
    }

    &__picture_enjoymet {
        background-image: url(../pictures/Culture6.png);
    }

    &__picture_trevel {
        background-image: url(../pictures/Games7.png);
    }
}

.question {
    font-family: Roboto-bigger;
    font-size: 18px;
    line-height: 14px;
    color: #666666;
    text-align: center;

}

form {
    width: 482px;
    height: 40px;
    margin: 25px auto 100px;
    display: flex;


    input {
        width: 290px;
        height: 38px;
        margin: 0 auto;
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        border-radius: 3px;
        font-family: Roboto-bigger;
        font-size: 14px;
        line-height: 16px;
        padding-left: 14px;
        color: #999999;
    }

    .button {

        width: 172px;
        height: 40px;
        background: #FF4E50;
        border: none;
        border-radius: 40px;
        @include text_property;
        font-family: Montserrat-Bold;
        font-size: 14px;
        line-height: 17px;

    }

}

footer {
    border-top: 2px solid #FF4E50;
    display: flex;
    justify-content: space-evenly;

    .footer_container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 40px 242px 0px;
        margin-bottom: 36px;

    }

    nav {
        a {
            display: block;
            font-family: Roboto-bigger;
            font-size: 14px;
            line-height: 26px;
            text-decoration: none;
            color: #999999;

        }
    }

    .dreamshare {
        @include text_property;
        font-family: Roboto-bigger;
        font-size: 16px;
        line-height: 20px;
        color: #FF4E50;
        text-transform: uppercase;

    }

    .links {
        margin-left: 20px;
    }

    .links__company {
        @extend .partners__bradley_name;
        text-align: unset;
        margin: 0px 0px 11px 0px;

    }

    .partners {
        @extend .links__company;
        margin-right: 100px;

    }

    .item-logo {
        padding-left: 50px;

    }

    .item-logo_designed {
        @include text_property;
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1px;
        text-align: right;
        color: #CCCCCC;
    }
}

@media screen and (max-width: 769px) {
    header {
        width: 768px;
        height: 700px;
        background-image: url(../pictures/Background1.png);
    }

    section {
        h3 {
            font-size: 22px;
        }
    }

    .fotoblock {
        width: 768px;
        height: 400px;

        &__item_left,
        &__item_middle,
        &__item_right {
            width: 236px;
            height: 400px;

            &_textsecond {
                line-height: 15px;
            }
        }
    }

    .partners {
        flex-wrap: wrap;

        &__bradley {
            width: 236px;
            height: 205px;
            margin-right: 21px;
            margin-bottom: 10px;
        }
    }

    .order_3 {
        order: 2;
    }

    .order_2 {
        order: 3;
    }

    .ideas {
        width: 768px;
        height: 1031px;

        &__start {
            width: 236px;
            height: 310px;

        }

        &__bigger {
            width: 492px;
            height: 310px;
        }

        &__picture_sport {
            background-image: url(../pictures/ipad1.png);

        }

        &__picture_wellness {
            background-image: url(../pictures/ipad2.png);
        }

        &__picture_extreme {
            background-image: url(../pictures/ipad3.png);
        }

        &__picture_games {
            background-image: url(../pictures/ipad4.png);
        }

        &__picture_culture {
            background-image: url(../pictures/ipad5.png);
        }

        &__picture_enjoymet {
            background-image: url(../pictures/ipad6.png);
        }

        &__picture_trevel {
            background-image: url(../pictures/ipad7.png);
        }
    }

    footer {
        .footer_container {
            width: 768px;
            padding: 40px 40px 0px 39px;
        }
    }


}

@media screen and (max-width: 321px) {
    header {
        width: 320px;
        height: 540px;
        background-image: url(../pictures/Background_mobile.png);

        h2 {
            font-size: 30px;
            line-height: 36px;
        }

    }

    .first_lane {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        padding-bottom: 0;
        margin-right: 20px;

        p {
            margin: 97px auto 0px;
        }
    }

    .some_padding {
        padding-top: 20px;
    }

    .center {
        font-size: 21px;
        margin: 5px 0px 15px;
    }

    .find {
        width: 280px;
        height: 40px;
        font-family: Montserrat-Bold;
    }

    .fotoblock {
        width: 300px;
        height: 740px;
        flex-wrap: wrap;

        &__item_left,
        &__item_middle,
        &__item_right {
            width: 300px;
            height: 240px;

            &_textsecond {
                line-height: 16px;

            }
        }

        &__item_left {
            background-image: url(../pictures/Mobile_1.png);
        }

        &__item_middle {
            background-image: url(../pictures/Mobile_2.png);
        }

        &__item_right {
            background-image: url(../pictures/mobile_3.png);
        }

    }

    section h3 {
        margin: 34px 0px 30px;
        font-size: 23px;
    }

    .partners {
        align-content: space-around;

        &__bradley {
            margin-right: 0px;
        }
    }

    .other_partners {
        width: 280px;
        margin: 0px auto 35px;
    }

    .ideas {
        width: 300px;
        height: 900px;

        &__start {
            width: 300px;
            height: 120px;
        }

        &__bigger {
            width: 300px;
            height: 120px;
        }

        &__picture_sport {
            background-image: url(../pictures/sport_mobile_1.png);

        }

        &__picture_wellness {
            background-image: url(../pictures/sport_mobile_2.png);
        }

        &__picture_extreme {
            background-image: url(../pictures/sport_mobile_3.png);
        }

        &__picture_games {
            background-image: url(../pictures/sport_mobile_4.png);
        }

        &__picture_culture {
            background-image: url(../pictures/sport_mobile_5.png);
        }

        &__picture_enjoymet {
            background-image: url(../pictures/sport_mobile_6.png);
        }

        &__picture_trevel {
            background-image: url(../pictures/sport_mobile_7.png);
        }
    }
    .font-size {
        font-size: 25px;
    }

    form {
        width: 100%;
        flex-wrap: wrap;

        .button {
            width: 280px;
            margin: 10px auto 0px;
        }
    }

    footer {

        .footer_container {
            width: 100%;
            padding: 0;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .dreamshare {
                margin: 19px 0px 12px;

            }

            nav {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0px 0px 6px;

                a {
                    display: inline;
                    margin: 0px 10px;
                }

                .links__company {
                    text-align: center;
                    width: 100%;
                }
            }

            .partners {
                width: 100%;
                margin: 0px 0px 14px;
            }

            .item-logo {
                padding-left: 0px;
            }
        }
    }
}