/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Roboto-bigger;
  src: url(../fonts/roboto/Roboto-Light.ttf);
}

header {
  width: 100%;
  height: 700px;
  background-image: url(../pictures/img1.png);
  background-size: cover;
}

header h2 {
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Montserrat-Bold;
  text-align: center;
  font-size: 52px;
  line-height: 63px;
}

.some_padding {
  padding-top: 95px;
}

.center {
  font-family: Roboto;
  font-size: 24px;
  text-align: center;
  margin: 28px 0px 33px;
  color: white;
}

.first_lane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 39px 0px;
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
}

.first_lane_singup {
  border: 2px solid white;
  border-radius: 40px;
}

.first_lane nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first_lane p {
  font-size: 20px;
  text-transform: uppercase;
  font-family: Montserrat-Bold;
  margin-top: 9px;
  margin-left: -33px;
}

.first_lane a {
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 35px;
  width: 90px;
  height: 36px;
}

.find {
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Montserrat-Bold;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  width: 225px;
  height: 40px;
  background-color: #FF4E50;
  border-radius: 40px;
  margin: 0 auto;
}

section h3 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  text-align: center;
  font-family: Montserrat-Bold;
  margin: 89px 0px 35px;
}

.fotoblock {
  width: 940px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.fotoblock__item_left {
  width: 300px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../pictures/Step1.png);
}

.fotoblock__item_left_textfirst {
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  width: 70px;
  height: 20px;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  line-height: 20px;
  background: #FF4E50;
  text-align: center;
  margin-left: 18px;
}

.fotoblock__item_left_textsecond {
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Montserrat-Bold;
  font-size: 26px;
  line-height: 26px;
  margin: 18px 25px 0px;
}

.fotoblock__item_left_textthird {
  font-family: Roboto;
  font-size: 14px;
  line-height: 14px;
  color: #E3E3E3;
  margin: 25px 25px 21px;
}

.fotoblock__item_middle {
  width: 300px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../pictures/Step2.png);
}

.fotoblock__item_right {
  width: 300px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../pictures/Step3.png);
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__bradley {
  width: 221px;
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 19px;
}

.partners__bradley_name, footer .links__company, footer .partners {
  font-family: Montserrat-Bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 17px 0px 12px;
}

.partners__bradley_info {
  font-family: Roboto-bigger;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #666666;
}

.order_1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.order_2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.order_3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.order_4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.other_partners {
  display: block;
  width: 180px;
  height: 40px;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Montserrat-Bold;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #FF4E50;
  font-size: 14px;
  margin: 26px auto 95px;
}

.ideas {
  width: 940px;
  height: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ideas__start {
  width: 300px;
  height: 310px;
}

.ideas__bigger {
  width: 620px;
  height: 310px;
}

.ideas__picture_sport {
  background-image: url(../pictures/Sport1.png);
}

.ideas__picture_wellness {
  background-image: url(../pictures/Healath2.png);
}

.ideas__picture_extreme {
  background-image: url(../pictures/Extreme3.png);
}

.ideas__picture_games {
  background-image: url(../pictures/Games4.png);
}

.ideas__picture_culture {
  background-image: url(../pictures/Culture5.png);
}

.ideas__picture_enjoymet {
  background-image: url(../pictures/Culture6.png);
}

.ideas__picture_trevel {
  background-image: url(../pictures/Games7.png);
}

.question {
  font-family: Roboto-bigger;
  font-size: 18px;
  line-height: 14px;
  color: #666666;
  text-align: center;
}

form {
  width: 482px;
  height: 40px;
  margin: 25px auto 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form input {
  width: 290px;
  height: 38px;
  margin: 0 auto;
  border: 1px solid #D4D4D4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  font-family: Roboto-bigger;
  font-size: 14px;
  line-height: 16px;
  padding-left: 14px;
  color: #999999;
}

form .button {
  width: 172px;
  height: 40px;
  background: #FF4E50;
  border: none;
  border-radius: 40px;
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Montserrat-Bold;
  font-size: 14px;
  line-height: 17px;
}

footer {
  border-top: 2px solid #FF4E50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 242px 0px;
  margin-bottom: 36px;
}

footer nav a {
  display: block;
  font-family: Roboto-bigger;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  color: #999999;
}

footer .dreamshare {
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Roboto-bigger;
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
  text-transform: uppercase;
}

footer .links {
  margin-left: 20px;
}

footer .links__company, footer .partners {
  text-align: unset;
  margin: 0px 0px 11px 0px;
}

footer .partners {
  margin-right: 100px;
}

footer .item-logo {
  padding-left: 50px;
}

footer .item-logo_designed {
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: right;
  color: #CCCCCC;
}

@media screen and (max-width: 769px) {
  header {
    width: 768px;
    height: 700px;
    background-image: url(../pictures/Background1.png);
  }
  section h3 {
    font-size: 22px;
  }
  .fotoblock {
    width: 768px;
    height: 400px;
  }
  .fotoblock__item_left, .fotoblock__item_middle, .fotoblock__item_right {
    width: 236px;
    height: 400px;
  }
  .fotoblock__item_left_textsecond, .fotoblock__item_middle_textsecond, .fotoblock__item_right_textsecond {
    line-height: 15px;
  }
  .partners {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners__bradley {
    width: 236px;
    height: 205px;
    margin-right: 21px;
    margin-bottom: 10px;
  }
  .order_3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order_2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .ideas {
    width: 768px;
    height: 1031px;
  }
  .ideas__start {
    width: 236px;
    height: 310px;
  }
  .ideas__bigger {
    width: 492px;
    height: 310px;
  }
  .ideas__picture_sport {
    background-image: url(../pictures/ipad1.png);
  }
  .ideas__picture_wellness {
    background-image: url(../pictures/ipad2.png);
  }
  .ideas__picture_extreme {
    background-image: url(../pictures/ipad3.png);
  }
  .ideas__picture_games {
    background-image: url(../pictures/ipad4.png);
  }
  .ideas__picture_culture {
    background-image: url(../pictures/ipad5.png);
  }
  .ideas__picture_enjoymet {
    background-image: url(../pictures/ipad6.png);
  }
  .ideas__picture_trevel {
    background-image: url(../pictures/ipad7.png);
  }
  footer .footer_container {
    width: 768px;
    padding: 40px 40px 0px 39px;
  }
}

@media screen and (max-width: 321px) {
  header {
    width: 320px;
    height: 540px;
    background-image: url(../pictures/Background_mobile.png);
  }
  header h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .first_lane {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding-bottom: 0;
    margin-right: 20px;
  }
  .first_lane p {
    margin: 97px auto 0px;
  }
  .some_padding {
    padding-top: 20px;
  }
  .center {
    font-size: 21px;
    margin: 5px 0px 15px;
  }
  .find {
    width: 280px;
    height: 40px;
    font-family: Montserrat-Bold;
  }
  .fotoblock {
    width: 300px;
    height: 740px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fotoblock__item_left, .fotoblock__item_middle, .fotoblock__item_right {
    width: 300px;
    height: 240px;
  }
  .fotoblock__item_left_textsecond, .fotoblock__item_middle_textsecond, .fotoblock__item_right_textsecond {
    line-height: 16px;
  }
  .fotoblock__item_left {
    background-image: url(../pictures/Mobile_1.png);
  }
  .fotoblock__item_middle {
    background-image: url(../pictures/Mobile_2.png);
  }
  .fotoblock__item_right {
    background-image: url(../pictures/mobile_3.png);
  }
  section h3 {
    margin: 34px 0px 30px;
    font-size: 23px;
  }
  .partners {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .partners__bradley {
    margin-right: 0px;
  }
  .other_partners {
    width: 280px;
    margin: 0px auto 35px;
  }
  .ideas {
    width: 300px;
    height: 900px;
  }
  .ideas__start {
    width: 300px;
    height: 120px;
  }
  .ideas__bigger {
    width: 300px;
    height: 120px;
  }
  .ideas__picture_sport {
    background-image: url(../pictures/sport_mobile_1.png);
  }
  .ideas__picture_wellness {
    background-image: url(../pictures/sport_mobile_2.png);
  }
  .ideas__picture_extreme {
    background-image: url(../pictures/sport_mobile_3.png);
  }
  .ideas__picture_games {
    background-image: url(../pictures/sport_mobile_4.png);
  }
  .ideas__picture_culture {
    background-image: url(../pictures/sport_mobile_5.png);
  }
  .ideas__picture_enjoymet {
    background-image: url(../pictures/sport_mobile_6.png);
  }
  .ideas__picture_trevel {
    background-image: url(../pictures/sport_mobile_7.png);
  }
  .font-size {
    font-size: 25px;
  }
  form {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  form .button {
    width: 280px;
    margin: 10px auto 0px;
  }
  footer .footer_container {
    width: 100%;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer_container .dreamshare {
    margin: 19px 0px 12px;
  }
  footer .footer_container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 6px;
  }
  footer .footer_container nav a {
    display: inline;
    margin: 0px 10px;
  }
  footer .footer_container nav .links__company, footer .footer_container nav .partners {
    text-align: center;
    width: 100%;
  }
  footer .footer_container .partners {
    width: 100%;
    margin: 0px 0px 14px;
  }
  footer .footer_container .item-logo {
    padding-left: 0px;
  }
}
/*# sourceMappingURL=main.css.map */